<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/home.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <title>Alpha Books</title>
  </head>

  <body>
    <div class="header">
      <h1>Alpha Books</h1>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Reading</a></li>
          <li><a href="">Checked</a></li>
          <li><a href="">Resumes</a></li>
        </ul>
      </nav>
    </div>

    <main class="books">
      <h2>Lidos Recentemente:</h2>
      <section>
        {% if books %} {% for book in books %}
        <div class="books">
          <label>
            <input
              type="checkbox"
              disabled
              {%
              if
              book.read
              %}checked{%
              endif
              %}
            />
            <span class="{% if book.read %}read{% endif %}"
              >{{ book.title }}</span
            >
          </label>
          <p>{{book.author}}</p>
          <p>{{book.description}}</p>
          <a href="/books/{{ book.id }}" class="botom">Detalhes da Leitura </a>
        </div>
        {% endfor %} {% else %}
        <p>Nenhum livro adicionado ainda.</p>
        {% endif %}
      </section>
    </main>

    <script src="../static/scripts/home.js"></script>
  </body>
</html>
